{% extends "base.html" %}

{% block title %}
<h2>Entries which are waiting for approvement by you:</h2>
{% endblock %}

{% block content %}

        {% for e in entries %}
            <div class="span9">
      		<pre>{{ e.content }}</pre>
	      <div class="form-actions">
		<a href="/approve/entry/{{ e.id }}/"><button class="btn">Approve</button></a>
		<a href="/disapprove/entry/{{ e.id }}/"><button class="btn">Disapprove</button></a>
	      </div>
	    </div><!--/span-->
	{% endfor %}

{% endblock %}
