
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Blog</a>
	  <div class="btn-group pull-right">
          	{% if user.is_authenticated %}
			  <h4><a href="/accounts/profile/"><i class="icon-user"></i> {{ user.username }}</a></h4>
		{% else %}
  			<li><a href="/accounts/login/">Login</a></li>
			<li><a href="/accounts/register/">Register</a></li>
		{% endif %}
	  </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">


        <div class="span9">
          <div class="hero-unit">
		{% block title %}{% endblock %}
          </div>

	{% if messages %}
	<div class="alert alert-info">
  		<ul>
    		{% for message in messages %}
      		<li>{{ message }}</li>
    		{% endfor %}
  		</ul>
	</div>
	{% endif %}

          	{% block content %}{% endblock %}
	</div><!--/span-->

        <div class="span3">
	<div class="well">
          <ul class="nav nav-list">
	    <li class="nav-header">Navigation</li>
	    <li><a href="/"><i class="icon-home"></i>Home</a></li>
	    {% if user.is_authenticated %}
	    <li><a href="/accounts/profile/"><i class="icon-user"></i>Profile</a></li>
	    <li><a href="/newpost/"><i class="icon-pencil"></i>New Post</a></li>
	    {% if user.is_superuser %}
	    <li><a href="/approve/"><i class="icon-cog"></i>Admin</a></li>
	    {% endif %}
	    <li><a href="/accounts/logout/"><i class="icon-off"></i>Logout</a></li>
	    {% else %}
	    <li><a href="/accounts/login/"><i class="icon-user"></i>Login</a></li>
	    <li><a href="/accounts/register/"><i class="icon-list-alt"></i>Register</a></li>
	    {% endif %}
	  </ul>
	</div>
        </div>

      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; June 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script> 
 </body>
</html>

