{% extends "base.html" %}

{% block title %} 
{% if user.is_anonymous %}
    <h2>Welcome. Please log in and blogging.</h2>
{% else %}
    <h2>Welcome, {{ user.username }}. Thanks for logging in.</h2>
{% endif %}
{% endblock %}

{% block content %}
	{% for e in entries %}
            <div class="span9">
              <pre> {{ e.content }}</pre>
	    <div class="form-actions">
		<h5>Author: {{ e.author.username }}<br>Date: {{ e.pub_date }} edited at {{ e.edit_date }}<h5>
	{% if user.id == e.author.id %}
		<div class="pull-right">
		<a href="{% url edit e.id %}"><button class="btn">Edit</button></a>
		<a href="{% url delete e.id %}"><button class="btn">Delete</button></a>
		</div>
	{% endif %}
	    </div>
            </div><!--/span-->
	{% endfor %}
{% endblock %}
