{% extends "base.html" %}

{% block title %} 
{{e.title}}
{% endblock %}

{% block content %}

            <div class="span9">
              <pre> {{ e.content }}</pre>
	    <div class="form-actions">
		<h5><b>Author:</b> {{ e.author.username }}<br><b>Date:</b> {{ e.pub_date }} edited at {{ e.edit_date }}<h5>
	{% if user.id == e.author.id %}
	<div class="pull-right">
		<a href="{% url edit e.id %}"><button class="btn">Edit</button></a>
		<a href="{% url delete e.id %}"><button class="btn">Delete</button></a>
	</div>
	{% endif %}
	    </div>
            </div><!--/span-->

{% endblock %}
