{% extends "base.html" %}

{% block title %}
<h2>Profile</h2>
<h6>You can change your password and e-mail address from clicking buttons down there.</h6>
{% endblock %}

{% block content %}
            <table>
		<tr>
		<td><b>Username : </b></td><td>{{ user.username }} </td>
		</tr>
		<br>
		<tr>
		<td><b>E-mail address : </b></td><td>{{ user.email }} </td>
		</tr>
            </table>
	<br>
	<div class="form-actions">
		<a href="/accounts/changepass/"><button class="btn">Change Password</button></a>
		<a href="/accounts/changeemail/"><button class="btn">Change E-mail</button></a>
		<br>
		<a href="/accounts/disable/"><button class="btn btn-primary">Dsable My Account</button></a>
	</div>
{% endblock %}

