{% extends "base.html" %}


{% block content %}
          <p>
            <h4>Profile</h4>
          </p>

            <table>
		<tr>
		<td><b>Username : </b></td><td>{{ user.username }} </td>
		</tr>
		<br>
		<tr>
		<td><b>E-mail address : </b></td><td>{{ user.email }} </td>
		</tr>
            </table>
	<br>
		<div class="btn group">
			<a href="/change_pass/"><button class="btn">Change Password</button></a>
			<a href="/change_email/"><button class="btn">Change E-mail</button></a>
		</div>
{% endblock %}

